{% extends 'App_Blog/base.html' %}
{% load static %}
{% block title %}-Details{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ blog.author.user_profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">

            <b>{{ blog.author }}</b><br>
            <small class="text-muted">Publish Date: <b>{{ blog.publish_date|date:"F d, Y" }}</b></small>
            <small class="text-muted">Update Date:  <b>{{ blog.update_date|date:"F d, Y" }}</b></small><br>
            <h6 class="mt-2">{{ blog.liked_blog.count }} Like{{ blog.liked_blog.count|pluralize }}</h6>
            <h6>{{blog.blog_comment.count}} Comment{{blog.blog_comment.count|pluralize}}</h6>

            {% if request.user.is_authenticated and blog.author == user %}
            <a class="btn btn-primary btn-sm mb-4 mt-4" href="{% url 'App_Blog:blog-edit' pk=blog.pk%}">Edit</a>
            <a class="btn btn-danger btn-sm mb-4 mt-4" href="{% url 'App_Blog:blog-delete' pk=blog.pk%}">Delete</a>
            {% endif %}
        </div>
        <h2>{{ blog.title }}</h2>
        <div class="row">
            <div class="col-sm-4">
                <img class="blog-img" src="{{ blog.blog_image.url }}" alt="">
            </div>
            <div class="col-sm-8">
                <p class="article-content">{{ blog.content|linebreaks }}</p>
            </div>
        </div>
        <div class="mt-2">
          {% if not liked %}
            <a href="{% url 'App_Blog:blog-liked' pk=blog.pk %}"><img class="like-img" src="{% static 'App_Blog/images/like.png'%}" alt=""></a>
          {% else %}
            <a href="{% url 'App_Blog:blog-unliked' pk=blog.pk %}"><img class="like-img" src="{% static 'App_Blog/images/dislike.png'%}"  alt=""></a>
          {% endif %}
        </div>
    </div>
</article>


<hr>
<div class="row">
  <div class="col-sm-6">
    <h5>Comments</h5>
    {% for comment in blog.blog_comment.all %}

      <p><a href="">{{comment.user.username}}</a></p>
      <p>{{comment.comment_date}}</p>
      <p>{{comment.comment}}</p>

      {% if request.user.is_authenticated and request.user.username == comment.user.username %}
      <a class="btn btn-danger btn-sm" href="{% url 'App_Blog:comment-delete' pk=comment.pk%}">Delete</a>
      {% endif %}
      <hr>

    {% endfor %}
  </div>
  <div class="col-sm-6">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          {{ form|crispy }}
      </fieldset>
      <div class="form-group mt-3 mb-3">
          <button class="btn btn-outline-primary" type="submit"> submit </button>
      </div>
  </form>
  </div>
</div>

{% endblock content %}
