{% extends 'App_Blog/base.html' %}
{% block title %}-My Blogs{% endblock title %}
{% block content %}

<h2>Your Total Blogs: {{user.post_author.count}}</h2>

{% for blog in user.post_author.all %}

<article class="media content-section">
    <img class="rounded-circle article-img blog-img" src="{{ blog.author.user_profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="">{{ blog.author }}</a>
            <small class="text-muted">{{ blog.publish_date|date:"F d, Y" }}</small><br>
            <h6>{{ blog.liked_blog.count }} Like{{ blog.liked_blog.count|pluralize }}</h6>
            <h6>{{blog.blog_comment.count}} Comment{{blog.blog_comment.count|pluralize}}</h6>

            {% if blog.author == user %}
            <a class="btn btn-primary btn-sm" href="{% url 'App_Blog:blog-edit' pk=blog.pk%}">Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'App_Blog:blog-delete' pk=blog.pk%}">Delete</a>
            {% endif %}

        </div>
        <h2><a class="article-title" href="{% url 'App_Blog:blog-details' slug=blog.slug %}">{{ blog.title }}</a></h2>
        <div class="row">
            <div class="col-sm-4">
                <img class="" src="{{ blog.blog_image.url }}" alt="">
            </div>
            <div class="col-sm-8">
                <p class="article-content">{{ blog.content|linebreaks|truncatewords:30 }}</p>
            </div>
        </div>
    </div>
</article>

{% endfor %}

{% endblock content %}
